@tailwind base;
@tailwind components;
@tailwind utilities;

/* [신규] 자비스 스타일 기본 설정 */
@layer base {
  body, html {
    @apply bg-hud-bg text-hud-text font-hud;
    overflow-y: hidden; /* 스크롤바 숨김 */
  }
}